// src/sass/variables.scss

// Globals
$border-radius-root: 6px;
$font-size-root: 48px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  "small": 20
);
$btn-font-sizes: (
  "default": 1rem,
  "large": 1rem
);
$btn-sizes: (
  "default": 41,
  "large": 54
);

$headings: (
  "h1": (
    "size": 3.3125rem,
    "line-height": 1.15em
  ),
  "h2": (
    "size": 2.25rem,
    "line-height": 1.5em
  ),
  "h3": (
    "size": 1.5625rem,
    "line-height": 1.4em
  ),
  "h4": (
    "size": 1.125rem,
    "line-height": 1.4em
  ),
  "h5": (
    "size": 1.0625rem
  ),
  "h6": (
    "size": 0.75rem
  ),
  "subtitle-2": (
    "size": 1rem
  ),
  "overline": (
    "letter-spacing": 0
  )
);

// Any component modifications must be imported at the bottom

@import "~vuetify/src/components/VBtn/_variables.scss";
@import "~vuetify/src/components/VList/_variables.scss";
