<template>
  <SWUpdatePopup>
    <v-snackbar
      :value="enabled"
      slot-scope="{ enabled, reload, message, buttonText }"
      bottom
      multi-line
      color="warning"
      :timeout="timeout"
    >
      {{ message }}
      <v-btn @click="reload" color="accent" depressed>
        <v-icon left>fa-sync</v-icon>
        {{ buttonText }}
      </v-btn>
    </v-snackbar>
  </SWUpdatePopup>
</template>

<script>
import SWUpdatePopup from '@vuepress/plugin-pwa/lib/SWUpdatePopup.vue'

export default {
  components: { SWUpdatePopup },
  data() {
    return {
      timeout: 0
    }
  }
}
</script>

<style>
</style>

